body {
  background-color: #e6e6e6;
  font-family: Arial, sans-serif;
  text-align: center;
}

#quote-container {
  margin: 10% auto;
  max-width: 500px;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 1.5em;
  color: #666;
}
